# Web arayüzü
streamlit==1.38.0

# Veri işleme
pandas==2.2.3
numpy==1.26.4

# Makine öğrenmesi
scikit-learn==1.5.2
xgboost==2.1.1

# API ve veri çekme
requests==2.32.3

# Model kaydetme/yükleme (opsiyonel ama tavsiye edilir)
joblib==1.4.2
